[id="pagelet_frs-aside/pagelet/ad"],
[id*="encourage"],
[id*="entertainment"],
[id*="hottopic"],
[id*="firework"],
[class*="encourage"],
[class*="entertainment"],
[class*="firework"],
[class*="celebrity"],
[class*="medal"],
[class*="tbmall"],
[class*="vip"]:not(.vip_red):not(.tm_item_rengong):not(.drl_item_vip),
[class*="wangmeng"],
a[href^="http://c.tieba.baidu.com/c/s/download/"],
a[href="/f?kw=%D3%A6%D3%C3%D6%D0%D0%C4&fr=userbar"],
[data-daid],
.xufei,
.j-placeholder-pay-member,
#forum_recommend,
.guidance_fc,
.content-ad,
#aside_ad,
#j_p_postlist > div[class="l_post l_post_bright j_l_post clearfix  "] + div:not([class="l_post l_post_bright j_l_post clearfix  "]),
.l_post[data-isautoreply],
.post_bubble_top,
.post_bubble_bottom,
.share_btn_wrapper,
.topic_list_box,
#pb_adbanner,
.xiu8_follow_warn,
.u_member,
.u_mytbmall,
.u_game,
.u_blue,
.u_grab_treasure,
.u_app,
.u_tbmall,
.u_extraurl,
.u_tshow,
.u_split,
#com_userbar > ul > .split,
.tbui_fbar_bazhu,
.tbui_fbar_props,
.tbui_fbar_tsukkomi,
.tbui_fbar_share,
.user_score,
.save_face_bg,
.pre_icon_wrap,
.d_nameplate,
.d_icons,
.icon_wrap,
.post-foot-send-gift-btn,
.thread_recommend,
#j_navtab_wanle,
.app_forum_top_nav,
.userinfo_scores,
.ihome-aside-gift-center,
.ihome-aside-grab-treasure,
.forum_recommend,
#spage_liveshow_slide,
#spage_game_tab_wrapper,
#plat_act_wrapper,
#media_item,
#adide_platform,
.r-right-sec,
#video_aside,
aside > .bazhu,
#j_navtab_game,
.page404  .video-wrapper,
.page404  .hot-wraper,
.page404  #error_404_iframe,
.card_userinfo_marry,
.right_section > div[class$="  "],
#thread_list > .j_thread_list + li:not(.j_thread_list),
.suggestion_list > li[data-field^="{\"sugType\":\"operation_"],
.bdfengyun,
.tbsug_expand .tbsug_tip,
#video_frs_head,
.gift-goin,
#fixed_bar,
.j_couplet,
.top_toutu_admarks,
.user-visit-card-marriage-propose,
.marriage,
[j-user-visit-card-marriage-propose],
[j-user-visit-card-send-gift],
.app_download_box,
a[href="https://tiebac.baidu.com/c/s/download/pc?src=webtbGF"],
.card_userinfo_guide,
.userinfo_username + div[style]:not([class]):not([id]),
.crowdfunding-traveling-wrapper,
.userinfo-marry,
#banner_pb_customize,
.post-foot-send-gift-container,
.group_download_link_wrapper,
.carousel_promotion_replacement,
.save_face_card + .fisfbb, /* "快试试吧，可以对自己使用挽尊卡咯~" 的提示 */
.mobile_res,
.showlist_wap,
#selectsearch-icon,
#branding_ads,
#fixed_daoliu,
.com_skinad_left,
.com_skinad_right,
.showlist_wap,
#novel-ranking,
.novel-award-aside-area,
.tbui_fbar_feedback,
.tbui_fbar_nobottle,
.tbui_fbar_bazhu {
    display: none!important;
}

/*贴吧广告机器人*/
/*这五个我看μblock屏蔽规则有就照抄了*/
.l_post[data-field^="{\"author\":{\"user_id\":50012654,"], /*善良的小鸟 这个我也不知道什么鬼，大概是测试账号*/
.l_post[data-field^="{\"author\":{\"user_id\":1990070693,"], /*贴吧触点推广*/
.l_post[data-field^="{\"author\":{\"user_id\":1480194257,"], /*房产快讯大管家*/
.l_post[data-field^="{\"author\":{\"user_id\":1480174042,"], /*房产小站长*/
.l_post[data-field^="{\"author\":{\"user_id\":1224761005,"], /*房产速讯*/
/*SB新年表情包，名单来自http://tieba.baidu.com/p/4945949828?pid=102814221827&cid=0#102814221827*/
.l_post[data-field^="{\"author\":{\"user_id\":2851596475,"], /*滑稽姐妹花*/
.l_post[data-field^="{\"author\":{\"user_id\":2851617783,"], /*名侦探课难*/
.l_post[data-field^="{\"author\":{\"user_id\":2851591509,"], /*贴吧大叔叔*/
.l_post[data-field^="{\"author\":{\"user_id\":2851617782,"], /*算命鸡爪*/
.l_post[data-field^="{\"author\":{\"user_id\":2851617780,"], /*贴吧小姐姐*/
.l_post[data-field^="{\"author\":{\"user_id\":2851596473,"], /*鸡年歌友*/
.l_post[data-field^="{\"author\":{\"user_id\":2851617778,"], /*主要是心灵美*/
.l_post[data-field^="{\"author\":{\"user_id\":2851617777,"], /*秋名山第一名*/
.l_post[data-field^="{\"author\":{\"user_id\":2851617779,"], /*贴吧小哥哥*/
.l_post[data-field^="{\"author\":{\"user_id\":2852576200,"], /*天下大大稽*/
.l_post[data-field^="{\"author\":{\"user_id\":2851617776,"], /*鸡年大财神*/
.l_post:not([data-field]) /*广告*/
{
    display: none!important;
}

/*阻止折叠帖子*/
.p_forbidden_tip {
    display: none!important;
}
.p_forbidden_tip + .d_post_content {
    display: block!important;
}


/*会员大老爷再见*/

.post_bubble_middle {
    background: none!important;
    padding: 0!important;
    width: auto!important;
    overflow: auto!important;
}
.post_bubble_middle_inner {
    background: none!important;
    padding: 0!important;
    width: auto!important;
    overflow: auto!important;
}

html .red_text,
html .red-text,
html .vip_red,
html .vip-red,
html .vip_red:hover,
html .vip-red:hover,
html .vip_red:visited,
html .vip-red:visited {
    color: inherit!important;
}

html .member_thread_title_frs a,
html .member_thread_title_frs a:hover {
    color: #2d64b3!important;
}

html .member_thread_title_frs a:visited {
    color: #653096!important;
}

.p_author_face.j_frame_guide {
    background: none repeat scroll 0 0 #FFF!important;
    border: 1px solid #CCC!important;
    padding: 3px!important;
}
.tail-info > a[href^="http://c.tieba.baidu.com/c/s/download/"],
a.p_tail_wap[href^="http://c.tieba.baidu.com/c/s/download/"] {
    display: inline!important;
    pointer-events: none;
    color: inherit!important;
}

.official_head .head_banner {
    cursor: auto!important;
}


/*奇怪的样式修复*/

#headinfo_wrap {
    margin-top: 0!important;
    height: 241px;
}
.tbui_aside_float_bar li.tbui_fbar_post {
    margin-bottom: 5px!important;
}
.dialogJmodal {
    position: fixed!important;
}



/*贴吧首页屏蔽广告之后发现右边没东西了……不得已搞个伪宽屏样式*/

.r-left-sec,
.r-left-sec .n_right {
    width: 100%!important;
}
/*神TM一个纯色导航条竟然是用图片当背景的……而且还不够长……*/
.r-left-sec #sub_nav_wrap {
    background: #f8f8f8!important;
    box-shadow: 0 0 0 1px #fdfdfd, 0 0 0 2px #e2e2e2, 1px 1px 0 2px #e7e7e7;
    margin: 3px;
    width: 774px!important;
}



/*需要移除的元素*/
@keyframes ads_need_remove {
    from {
        clip: rect(1px, auto, auto, auto);
    }
    to {
        clip: rect(0px, auto, auto, auto);
    }
}

.app_forum_top_nav {
    display: block!important;
    visibility: hidden!important;
    animation-duration: 0.001s;
    animation-name: ads_need_remove;
    pointer-events: none;
}

/*帖子内关键词链接广告*/
@keyframes ps_cb_ad {
    from {
        clip: rect(1px, auto, auto, auto);
    }
    to {
        clip: rect(0px, auto, auto, auto);
    }
}

.ps_cb, .comforum-swap-words {
    animation-duration: 0.001s;
    animation-name: ps_cb_ad;
    pointer-events: none;
}


/*辣鸡彩色字*/
@keyframes colorful_idiots {
    from {
        clip: rect(1px, auto, auto, auto);
    }
    to {
        clip: rect(0px, auto, auto, auto);
    }
}

.post_props_colorful {
    animation-duration: 0.001s;
    animation-name: colorful_idiots;
}

/*防患未然的广告处理*/
@keyframes ad_bottom_view {
    from {
        clip: rect(1px, auto, auto, auto);
    }
    to {
        clip: rect(0px, auto, auto, auto);
    }
}

.ad_bottom_view {
    animation-duration: 0.001s;
    animation-name: ad_bottom_view;
}
